/* 
====================
      variable
====================
*/

:root {
  --clr-primary: #417f56;
  --clr-primary-dark: #183020;
  --clr-secondary: #396f4b;
  --clr-success: #e5f2e9;
  --clr-dark: #efefef;
  --clr-text: #212121;
  --clr-text-para: #505050;
  --clr-border-card: #d9d9d9;
  --font-primary: "mikhak";
  --font-secondary: "vazir";
  --font-secondary-md: "vazir md";
  --font-secondary-light: "vazir light";
  --font-secondary-dg: "vazir dg";
}

/* 
  ====================
        font
  ====================
  */

@font-face {
  font-family: mikhak;
  src: url(../font/mikhak/Mikhak-Black.ttf);
}

@font-face {
  font-family: vazir;
  src: url(../font/vazir/Vazir-Bold.ttf);
}

@font-face {
  font-family: vazir md;
  src: url(../font/vazir/Vazir-Medium.ttf);
}

@font-face {
  font-family: vazir light;
  src: url(../font/vazir/Vazir-Light.ttf);
}

@font-face {
  font-family: vazir dg;
  src: url(../font/vazir/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.ttf);
}

/* 
  ====================
         base
  ====================
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--font-secondary);
  margin: 0 auto;
  position: relative;
}

main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bacground.png) no-repeat center / cover fixed;
  position: relative;
}

.dark-main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -2;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.show-dark-main {
  opacity: 1;
  z-index: 1;
}

a {
  text-decoration: none;
}

/* 
====================
       nav
====================
*/

.navbar {
  position: fixed;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 10px;
  gap: 10px;
  margin: 0 auto;
  z-index: 99;
  background-color: #fff;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--clr-primary);
}

.nav-toggle .icon {
  font-size: 18px;
  color: #121212;
  background-color: var(--clr-dark);
  padding: 0 3px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.nav-toggle a {
  font-family: var(--font-primary);
  font-size: 20px;
  color: var(--clr-primary);
}

.nav-left {
  justify-self: left;
  display: flex;
  gap: 5px;
}

.btn-nav {
  background-color: transparent;
  border: solid 1px var(--clr-secondary);
  padding: 1px 4px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  color: var(--clr-secondary);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.btn-nav:hover {
  color: #fff;
  background-color: var(--clr-secondary);
}

.btn-nav strong {
  display: none;
}

.modal {
  position: absolute;
  top: 10px;
  right: 50%;
  background-color: #fff;
  padding: 12px 18px;
  width: 70%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  box-shadow: 0px -3px 15px #c9c9c9;
  transform: translate(50%, -200px);
  -webkit-transform: translate(50%, -200px);
  -moz-transform: translate(50%, -200px);
  -ms-transform: translate(50%, -200px);
  -o-transform: translate(50%, -200px);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.modal h3 {
  font-size: 15px;
}

.modal .modal-btn {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 12px;
}

.modal .modal-btn button {
  background-color: var(--clr-primary);
  font-family: var(--font-secondary);
  font-size: 14px;
  padding: 4px 15px;
  border-radius: 5px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.modal .modal-btn button a {
  color: #fff;
}

.modal .modal-btn button:nth-last-child(1) {
  background-color: var(--clr-dark);
  color: #000;
}

.show-modal {
  transform: translate(50%, 0);
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
}

.nav-search {
  width: 100%;
  height: 35px;
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 5px;
  background-color: var(--clr-dark);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding-right: 15px;
}

.nav-search input {
  width: 100%;
  height: 100%;
  font-family: var(--font-primary);
  border: none;
  background-color: var(--clr-dark);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.nav-search input:focus {
  outline: none;
}

.nav-lists,
.seacrh-btn-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: none;
  }
}

/* 
========================
        login
========================
*/

.login {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 13px 18px;
  padding-bottom: 50px;
}

.login-title {
  font-family: var(--font-primary);
  margin-bottom: 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.input-group {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  position: relative;
}

.input-group label {
  position: absolute;
  right: 10px;
  font-size: 20px;
}

.input-group input {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: 1px solid #cbcbcb;
  font-family: var(--font-secondary);
  padding-right: 40px;
}

.input-group .eyeInput {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 20px;
}

.login-form button {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 8px;
  border: none;
  color: #fff;
  font-family: var(--font-secondary);
  background-color: var(--clr-secondary);
  margin-top: 15px;
}

.login p a {
  color: var(--clr-secondary);
  text-decoration: underline;
}

.isInPage {
  font-size: 13px;
}

.input-container p {
  font-size: 12px;
  color: #ff0000;
  margin-inline-start: 7px;
  display: none;
}

.login-img {
  display: none;
}

@media screen and (min-width: 768px) {
  main {
    background: #fff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100vh;
  }

  .login {
    position: inherit;
  }

  .login-img {
    display: block;
    flex: 1 1 calc(80%);
    height: 100%;
  }

  .login-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 992px) {
  .login-title {
    font-size: 22px;
    gap: 15px;
  }

  .login-form {
    width: 70%;
    gap: 20px;
  }

  .input-group {
    height: 55px;
  }

  .input-group label,
  .input-group .eyeInput {
    font-size: 24px;
  }

  .input-group input {
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    font-size: 18px;
    border: 2px solid #cbcbcb;
  }

  .login-form button {
    height: 50px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    margin-top: 20px;
    font-size: 18px;
  }

  .input-container p {
    font-size: 12px;
  }

  .isInPage {
    font-size: 16px;
  }
}

@media screen and (min-width: 1400px) {
  .login-title {
    font-size: 25px;
  }

  .login-form {
    width: 60%;
    gap: 25px;
  }

  .input-container {
    gap: 4px;
  }

  .input-group {
    height: 60px;
  }

  .input-group label,
  .input-group .eyeInput {
    font-size: 28px;
  }

  .input-group input {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 20px;
    border: 2px solid #cbcbcb;
    padding-right: 50px;
  }

  .login-form button {
    height: 55px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 20px;
    font-size: 20px;
  }

  .input-container p {
    font-size: 16px;
    margin-right: 10px;
  }

  .isInPage {
    font-size: 18px;
  }

  .login-img {
    flex: 1 1 calc(70%);
  }
}

@media screen and (min-width: 2000px) {
  .login {
    gap: 25px;
  }

  .login-title {
    font-size: 40px;
  }

  .login-form {
    width: 60%;
    gap: 40px;
  }

  .input-container {
    gap: 6px;
  }

  .input-group {
    height: 100px;
  }

  .input-group label {
    font-size: 46px;
    right: 20px;
  }

  .input-group .eyeInput {
    font-size: 46px;
    left: 20px;
  }

  .input-group input {
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    font-size: 35px;
    border: 2px solid #cbcbcb;
    padding-right: 80px;
  }

  .login-form button {
    height: 95px;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    margin-top: 30px;
    font-size: 35px;
  }

  .input-container p {
    font-size: 28px;
    margin-right: 15px;
  }

  .isInPage {
    font-size: 32px;
  }
}